---
layout: default.liquid
pagination: 
    data: posts
    alias: post
    size: 1
permalink: "{{ post.slug | slugify }}/index.html"
---

<article class="post">
<h1 class="title">{{post.title.rendered}}</h1>
<div class="post__tags">
<small>{{ post.date | postDate }}</small>
{% for tag in post.tags %}
    {% for tagName in tags %}
        {% if tag == tagName.id %}
            <small class="tag">{{ tagName.name }}</small>
        {%endif%}
    {% endfor %}
{% endfor %}
</div>
{{ post.content.rendered }}
</article>


