---
layout: default.liquid
pagination:
    data: posts
    alias: posts
    size: 3
---

<section class="hero">
    <div class="hero__left">
        <h1 class="hero__title">
            Hi! I'm Laurie
        </h1>
        <p class="hero__text">Welcome to my digital collection. It's where I share some random thoughts, and add cool links to other websites to my list.  I'll also use this site to learn Headless Wordpress and Eleventy. </p>
    </div>
    <div class="hero__right">
        <div class="image1">
            <img src="./img/blake-alexander-BYDFN2KkGAQ-unsplash.jpg" alt="seashells">
        </div>
        <div class="image2">
           <img src="./img/thomas-martinsen-CrnALaUMSA4-unsplash.jpg" alt="travelgear">  
        </div>
        <div class="image3">
            <img src="./img/moujahed-jouini-OEh9R2Q62Xs-unsplash.jpg" alt="bags" >
        </div>
    </div>
</section>
<section class="posts">
    <h1 class="title">Latest Posts</h1>
    <div class="posts__container">
        {% for post in posts %}
        <article class="post flow">
            <a href="{{ post.slug }}" class="post__title">{{post.title.rendered}}</a>
            <p>{{ post.acf.summary }}</p>
            <p>{{ post.date | postDate }}</p>
            {% for tag in post.tags %}
                {% for tagName in tags %}
                    {% if tag == tagName.id %}
                        <small class="tag">{{ tagName.name }}</small>
                    {%endif%}
                {% endfor %}
            {% endfor %}
        </article>
        {% endfor %}
    </div>
</section>
<section class="links">
    <h1 class="title">Recent Links</h1>
    <div class="flex links__container">
        {% for link in links %}
        <div class="links">
            <a href="{{'link.url' | url }}" class="links__item">{{link.title}}</a>
            <p class="links__text">{{link.description}}</p>
            <a href="/links">View All Links</a>
        </div>
        {% endfor %}
    </div>
</section>