
    
<a href="{{'/' | url }}" class="logo">Laurie's Digital Collection</a>
<div class="nav">
    <ul class="nav__list">
        <li class="nav__list--item"><a href="{{'/' | url }}" class="nav__link accent">Home</a></li>
        <li class="nav__list--item"><a href="{{'/about-me/' | url }}" class="nav__link accent">About</a></li>
        <li class="nav__list--item"><a href="{{'/posts/' | url }}" class="nav__link accent">Posts</a></li>
        <li class="nav__list--item"><a href="{{'/links/' | url }}" class="nav__link accent">Links</a></li>
        <li class="nav__list--item"><a href="{{'/contact-me/' | url }}" class="nav__link accent">Contact</a></li>
    </ul>
</div>
